<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  
  <div class="app-brand demo">
  <a href="/dashboard" class="app-brand-link">
    <span class="app-brand-logo demo">
      <img src="/assets/img/favicon/favicon.ico" width="25" alt="Logo">
    </span>
    <span class="app-brand-text demo menu-text fw-bolder ms-2">Sneat</span>
  </a>

  <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
    <i class="bx bx-chevron-left bx-sm align-middle"></i>
  </a>
</div>
  


  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    
    <li class="menu-item <%= page === 'dashboard' ? 'active' : '' %>">
      <a href="/dashboard" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Dashboard</div>
      </a>
    </li>

    <li class="menu-item <%= (page === 'addAdmin' || page === 'viewAdmin') ? 'active open' : '' %>">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-user-voice"></i>
        <div data-i18n="Admins">Admins</div>
      </a>

      <ul class="menu-sub">
        <li class="menu-item <%= page === 'addAdmin' ? 'active' : '' %>">
          <a href="/addAdmin" class="menu-link">
            <div data-i18n="Add Admin">Add Admin</div>
          </a>
        </li>
        <li class="menu-item <%= page === 'viewAdmin' ? 'active' : '' %>">
          <a href="/view-admin" class="menu-link">
            <div data-i18n="View Admins">Admin List</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="menu-item <%= (page === 'addUser' || page === 'viewUser') ? 'active open' : '' %>">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-group"></i>
        <div data-i18n="Users">Users</div>
      </a>

      <ul class="menu-sub">
        <li class="menu-item <%= page === 'addUser' ? 'active' : '' %>">
          <a href="/addUser" class="menu-link">
            <div data-i18n="Add User">Add User</div>
          </a>
        </li>
        <li class="menu-item <%= page === 'viewUser' ? 'active' : '' %>">
          <a href="/view-user" class="menu-link">
            <div data-i18n="View Users">User List</div>
          </a>
        </li>
      </ul>
    </li>

  </ul>
</aside>